apiVersion: v1
kind: Secret
metadata:
  name: {{ model.project_name }}-secrets
  labels:
    project: {{ model.project_name }}
type: Opaque
stringData:
{% for key, ref in secret_envs.items() %}
  # TODO: Populate with the actual value for {{ ref }}
  {{ ref }}: "CHANGE_ME"
{% endfor %}
